body {
    font-family: 'Merienda', cursive; /* Apply the Merienda font */
    color: #000000; /* Set text color to black */
    margin: 0;
    padding: 0;
}

/* Example of other styling */
h1, h2, h3, h4, h5, h6 {
    color: #000000; /* Ensure headers are also black */
}

p {
    color: #000000; /* Ensure paragraphs are black */
}
h1, h2, h3 {
    font-family: 'Merienda', cursive;
    color: #000000;
}

p, li {
    font-family: 'Merienda', cursive;
    color: #000000;
}

.presentacion{
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    
}
.titulo{
    padding-top: 100px;
    padding-bottom: 120px;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
.titulo > h1{
    font-size: 45px;
}
.fecha1{
    display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.fecha1 > h1{
    text-align: center;
}

