.Fiesta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.ubicacion3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ubicacion3 > h2{
    margin-top: 10px;
  margin-bottom: 40px;
}
.icono-copas{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 45px;
    background-color:#d4a5a5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glass{
    
}
.como-llegar3{
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #d4a5a5; /* Soft blush pink */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.ceremonia-fiesta{
    margin-top: 30px;
    margin-bottom: 40px;
}
@media (max-width: 289px){

    .ubicacion3 > h2{
        text-align: center;
      
    }
}