.main-page{
 background-repeat: no-repeat;
 background-size: cover;
 font-family: 'Noto Sans', sans-serif;
}
span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

