*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.graybg{
  background-color: rgb(5, 23, 38);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card{
  display: flex;
  color: azure;
  background: rgb(5, 23, 38);
  border: none;
}
.card-title{
  padding-left: 1rem;
  color: #2ecc71;
}
.paragraph{
  padding-left: 1rem;
  font-size: 20px;
}
