.footer{
    border-top: 1px solid rgb(56, 54, 54);
    background-color: rgb(15, 14, 14);
}

i{
    margin: 20px;
    font-size: 75px;
}
.linkedin{
    width: 74px;
    height: 75px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsapp{
    width: 74px;
    height: 73px;
    position: relative;
    border-radius: 45px 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.text{
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

button{
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 320px){
    .redes{
        display: grid;
        
    }

}
