.certificados-h1{
    color:#fff;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-decoration: underline;
    text-decoration-color: #2ecc71;
}
.certificados{
    background-color: rgb(5, 23, 38);
    min-height: 100vh;
}
hr{
    color: #fff;
}